Primero/Lenguaje-de-marca/Tema4/xml-Schema/3 Introducción/Ejercicio 1/Cancion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cancion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="titulo" type="xs:string"/>
				<xs:element name="año" type="xs:gYear"/>
				<xs:element name="artista" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
